/* override bootstrap css */

.btn {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.btn {
  font-weight: bold;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.btn-danger {
  background-color: $red;
  border-color: $darkRed;
}

.btn-success {
  background-color: $green;
  border: none;
}

.btn-success:hover {
  background: $darkGreen;
}

/* get rid of bootstrap default focus blue border */
.btn:focus {
  outline: none !important;
}


