.testimonials {
  text-align: center;

  .row + .row {
    margin-top: 2rem;
  }
}

.testimonial {
  margin-bottom: 60px;

  img {
    border-radius: 50%;
  }

  /* removes invisible space before blockquote
  people use this to add quotes */
  blockquote:before {
    display: none;
  }

  blockquote {
    padding: 0;
    border: none;
    font-style: italic;
    text-align: left;
  }

  cite {
    display: block;
    color: #777;
    margin: 15px 0 0 0;
  }
}
